numpy==1.18.5
pandas_profiling==2.11.0
pandas==1.0.5
marshmallow_dataclass==8.4.1
omegaconf==2.0.6
hydra_core==1.0.6
pytest==5.4.3
pyyaml==5.3.1
scikit-learn==0.23.1
setuptools==49.2.0
typeguard==2.12.0